@import '../styles/theme.scss';

.error-wrap{
    height: 300px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    border-radius: 5px;
    span{
        display: inline-block;
        height: 50px;
        width: 50px;
        vertical-align: middle;
        background-size: cover;
        background-repeat: no-repeat;
        &.empty{
            background-image: url('../../common/assets/folder.png');
        }
        &.failed{
            background-image: url('../../common/assets/errors.png');
        }
    }
}